.form {
  display: block;
}

.form label {
  display: block;
  text-align: start;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form input, .form textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
